@import '~bootstrap/scss/bootstrap';
@import '~lightgallery.js/dist/css/lightgallery.css';

html, body {
  height: 100%;
  width: 100%;
}

.album {
  margin-top: 3rem;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.grid-item {
  width: 300px;
  padding: 0.2rem;
}

a.navbar-brand {
  margin-right: 0;
}
.photo {
  cursor: pointer;
}